name: Docker CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

jobs:
  build:
    # the OS must be GNU/Linux to be able to use the docker-coq-action
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - 'coqorg/coq:dev'
          - 'coqorg/coq:8.17'
          - 'coqorg/coq:8.16'
          - 'coqorg/coq:8.15'
          - 'coqorg/coq:8.14'
          - 'coqorg/coq:8.13'
          - 'coqorg/coq:8.12'
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: coq-community/docker-coq-action@v1
        with:
          custom_image: ${{ matrix.image }}
          custom_script: |
            {{before_install}}
            startGroup "Build zorns-lemma dependencies"
              opam pin add -n -y -k path coq-zorns-lemma .
              opam update -y
              opam install -y -j 2 coq-zorns-lemma --deps-only
            endGroup
            startGroup "Build zorns-lemma"
              opam install -y -v -j 2 coq-zorns-lemma
              opam list
            endGroup
            startGroup "Build topology dependencies"
              opam pin add -n -y -k path coq-topology .
              opam update -y
              opam install -y -j 2 coq-topology --deps-only
            endGroup
            startGroup "Build topology"
              opam install -y -v -j 2 coq-topology
              opam list
            endGroup
            startGroup "Uninstallation test"
              opam remove -y coq-topology
              opam remove -y coq-zorns-lemma
            endGroup

# See also:
# https://github.com/coq-community/docker-coq-action#readme
# https://github.com/erikmd/docker-coq-github-action-demo
