name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

jobs:
  build:
    # the OS must be GNU/Linux to be able to use the docker-coq-action
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - 'coqorg/coq:dev'
          - 'coqorg/coq:8.13'
          - 'coqorg/coq:8.12'
          - 'coqorg/coq:8.11'
          - 'coqorg/coq:8.10'
        opam_file:
          - 'coq-topology.opam'
          - 'coq-zorns-lemma.opam'
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: coq-community/docker-coq-action@v1
        with:
          opam_file: ${{ matrix.opam_file }}
          custom_image: ${{ matrix.image }}
          before_install: |
            startGroup "Setup and print opam config"
              opam repo -a --set-default add coq-extra-dev https://coq.inria.fr/opam/extra-dev
              opam config list; opam repo list; opam list
            endGroup

# See also:
# https://github.com/coq-community/docker-coq-action#readme
# https://github.com/erikmd/docker-coq-github-action-demo
